.empty-state {
  width: 100%;
  margin: 40px auto;
  background: transparent;
  border-radius: 4px;

  &__content {
    padding: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include mobile {
      padding: 40px 12px;
    }

    .empty-state__icon {
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      border-radius: 200px;
      justify-content: center;

      img {
        width: 170px;
      }
    }

    .empty-state__message {
      color: $primary-color;
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 0.85rem;
    }

    .empty-state__help {
      padding-top: 12px;
      color: #a2a5b9;
      font-size: 14px;
    }
  }
}
