/* -----------------------------------------------------------------
    - Footer
----------------------------------------------------------------- */
.footer {
  color: #8697a8;
  font-size: 0.875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
@media only screen and (max-width: 580px) {
  .footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.bg-green .footer,
.bg-peach .footer {
  color: #fff;
}
